%p
  %strong Commenter:
  = comment.user.email
%p
  %strong Comment:
  = comment.body
%p
  - if comment.user == current_user
    = link_to 'Destroy Comment', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' }
