<h1>CATEGORIES</h1>

<% @categories.each do |category| %>
    <%= category.name %><br>
<% end %>

<h4>Do you want create category?<p><%=link_to "Click Here!", categories_new_path %></p></h4>
<br><br>
<%= link_to 'Back', root_path %>
