- if Rails.env.staging?
  #warnings.alert.alert-warning.panel-reset.text-center{style: 'margin-bottom: 10px;' }
    = "<strong> Dikkat! </strong> Lütfen yapacağınız işlemlerde dikkatli olunuz. Şuan da <strong> test </strong> sunucusu üzerinde işlem yapıyorsunuz.".html_safe

