#navbar.navbar.navbar-default
  %a.navbar-brand{href: hq_dashboard_index_path}
    %i.icon-beer
    Easy Blog Yönetici Portalı
  %ul.nav.navbar-nav.pull-right
    %li
      = link_to hq_admins_path do
        -#audits üst satır
        %i.icon-cog
        = "İşlem Geçmişleri"
    %li.dropdown.user
      %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
        %i.icon-user
        %strong
          = current_admin.email
        %b.caret
      %ul.dropdown-menu
        %li
          =link_to "Giriş bilgilerini güncelle", edit_admin_registration_path
        %li.divider
        %li
          =link_to "Çıkış yap", destroy_admin_session_path, method: :delete